<!--  アクセス  -->
<section id="access" class="pd-tb" >
<div class="container" style="border-top: 8px double #724832;">
  <div class="row" style="position: relative; width: 100%;">
    <div class="col-sm-8 col-sm-offset-2 col-xs-offset-1 col-xs-10 pd-tb pd-ls">
      <iframe src="https://maps.google.co.jp/maps?q=静岡県静岡市東草深町1-9&z=15&output=embed&iwloc=J=m" frameborder="0" style=" top: 0; left: 0; border:0; width:100%;height:350px;" allowfullscreen=true></iframe>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8">
      <!-- <h3 class="dark-primary-text-color text-left">営業時間</h3> -->
        <p class="primary-text-color pd-tb pd-ls" style="line-height:2rem;margin: 0px 70px;border-bottom:1px solid black;border-top:1px solid black;">
          珈琲工房すがの<br>
          〒420-0865 <br>
          静岡県静岡市葵区東草深町1-9<br>
          営業時間 : 9:00~19:00(定休日:月曜日) <br>
          駐車場数:3台
        </p>
    </div>
  </div>
  </div>
  </div>
</div>
</section>
