<section id="display">
  <div class="container">
    <div class="row text-left">
      <div class="col-xs-12">
        <h2>特定取引法にもとづく表示</h2>
        <small>2017年4月6日更新</small>
        <div class="border-bottom"></div>
        <div class="pd-tb">
          <p>「特定商取引に関する法律」第11条（通信販売についての広告）に基づき以下に明示いたします。</p>
          <h4><b>販売業者</b></h4>
            <p>珈琲工房すがの <br>
              〒420-0865 <br>
            静岡県静岡市葵区東草深1-9 <br>
            電話番号:054-247-1567 <br>
          <h4><b>販売責任者</b> <br></h4>
            菅野芳光 <br>
          <h4><b>商品代金以外の必要料金</b> <br></h4>
            送料（地域によって料金が異なります） <br>
            消費税、代引き手数料<br>
          <h4><b>返品について</b> <br></h4>
            生ものですので、お客様都合の返品はお受けいたしかねます。 <br>
            配送時の商品破損や商品に問題があった場合、またご注文内容と違う商品が届いた場合、商品到着後7日以内にお電話またはFAXにてご連絡ください。 <br>
            送料は当店で負担します。 <br>
            7日を過ぎますと、返品のご要望をお受けできなくなりますので、ご了承ください。 <br>
          <h4><b>商品の発送について</b> <br></h4>
            午後4時までのご注文は、翌々日に発送いたします。 <br>
            午後4時以降のご注文は、翌日のご注文承りとし、3営業日以内に発送いたします。<br>
            在庫切れの時は、お時間をいただく場合がございますので、ご了承ください。<br>
            ※FAXでご注文された場合、ご注文後4日経ってもお届け日お知らせの連絡が無いときは、何らかの事情でご注文が確認できていない可能性がありますので、恐れ入りますが、お電話にてもう一度ご注文ください。<br>
          <h4><b>お支払い方法について</b> <br></h4>
            代金引換<br>
          <h4><b>お支払い期限について</b> <br></h4>
            商品引き渡し時<br>
          <h4><b>取扱商品</b> <br></h4>
            珈琲豆<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
