<section class="top">
      <div class="slider top-slider">
        <img class="" src="assets/shop_out.jpg" alt="" style="">
        <img class="" src="assets/shop_front_2.jpg" alt="" style="">
        <img class="" src="assets/P1010320.JPG" alt="" style="">
      </div>
</section>

    <!-- Information:お店の最新情報などを掲載 -->
    <section class="topics pd-tb" id="topics" style="">
      <div class="container">
        <div class="row topics-content">
          <div class="topics-content">
            <h1 class="wf-hannari pd-tb primary-text-color">おしらせ</h1>
            <div class="col-sm-8 col-sm-offset-2">
              <div class="col-xs-12">
                <% @contents.each do |content| %>
                <div class="">
                  <dl class="news-list">
                    <dt class="col-sm-5">
                      <%= content.date %>
                    </dt>
                    <dd class="col-sm-7">
                      <%= content.title %>
                    </dd>
                  </dl>
                </div>
                <% end %>
              </div>
              </div>
            </div>


          </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 珈琲工房すがののこだわり -->
<section class="welcome " style="border-top:1px solid #d9d9d7;" id="about">
  <div class="container" style="padding:20px;" >
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 pd-lr">
        <h3 class="text-left font-weght-300 pd-lr wf-hannari" style="">
          コンセプト
          <img class="col-xs-1 col-sm-2" src="assets/beans_logo.png" alt="ロゴ" style="padding:0;object-fit:cover;">
        </h3>
        <!-- <div class="border-bottom"></div> -->
      </div>
      <div class="col-xs-12 col-md-7 pd-lr">
        <h2 class="primary-text-color wf-hannari text-left">くつろぎのパートナー</h2>
        <p class="wf-notosansjapanese text-left"  style="font-weight:200;padding-right:40px;">
          一粒一粒の選別した生豆を大切に焙煎。<br>
          「一杯のおいしい珈琲」をお客様に愉しんで飲んでいただきお客様の「くつろぎのパートナー」を目指します。<br>
          人と人との出会いを大切に、ロゴにある豆印は生豆と焙煎豆とお客様、人文字に願いを込めました。<br>
          焙煎の仕方もいろいろ、抽出の仕方もいろいろ、飲み方もいろいろ。<br>
          お客様のお好みに合った珈琲が見つかるまで、お付き合いしたいと思います。<br>
        </p>
      </div>
    </div>
  </div>
</section>

<section  id="12th" style="border-top:1px solid #d9d9d7;" class="">
  <div class="container"  style="padding:20px;">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <img class="img-responsive img-rounded" src="assets/SBS5.JPG" alt="" style="height:auto;object-fit:cover;">
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 ">
        <h4>おかげさまで12周年</h4>
        <p style="font-weight:200;">
          みなさまのおかげで珈琲工房すがのは12周年を迎えることができました。
        </p>
      </div>
    </div>
  </div>
</section>

    <!--こだわりの珈琲-->
    <!-- <section class="pd-tb-50" >
      <div class="container">
        <h1 class="dark-primary-text-color wf-notosansjapanese text-left" style="padding-top:50px;padding-bottom:20px;">珈琲<small class="dark-primary-text-color">- Coffee -</small></h1>
          <div class="row" style="" >
            <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-5" style="padding:0;">
              <img class="img-responsive" src="assets/coffee_2.png" alt="Smart Limited Liability Company" >
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-7" style="" >
              <div class="text-left" style="">
                <p class="wf-notosansjapanese text-left secondary-text primary-text-color lead font-weght-300"  style="line-height:em;padding-right:30px;">
                  店内には、20種類以上の珈琲豆を取り揃えております。<br>
                  静岡市にちなんだオリジナルブレンドや、カフェインレス珈琲、有機栽培のプレミアムな珈琲豆など数多く取り揃えております。<br>
                  あなたにあったお好みの珈琲がきっと見つかるはずです。<br>
                </p>
                <button type="button" class="btn btn-group-lg accent-color "><a class="text-primary-color" href="http://localhost:3000/list">珈琲豆リストはこちら</a></button>
              </div>
            </div>
        </div>
      </div>
    </section> -->

    <!--メニュー-->
    <!-- <section id="menu">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <%= image_tag("DSC_0213.JPG",:alt=>"まんじゅう",:class=>"img-responsive img-rounded pd-tb",:style=>"")%>
          </div>
          <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-7 text-left pd-lr pd-tb">
            <h1 class="primary-text-color wf-hannari text-left pd-b">おみせ</h1>
              <p class="wf-notosansjapanese text-left primary-text-color secondary-text font-weght-300"  style="line-height:">
                ネルドリップで淹れた本格派の珈琲や自家製ケーキをお楽しみいただけます。<br>
                お得な軽食セットや、ランチタイム限定のセットもご用意しております。<br>
                ぜひ店内でくつろぎの時間をお過ごしください。<br>
                また、店内には地元作者による絵画や写真を展示してお客様をお迎えしております。<br>
                珈琲と一緒に楽しんでいただけたら光栄です。<br>
              </p>
              <button type="button" class="btn btn-group-lg accent-color text-primary-color"><a class="text-primary-color" href="http://localhost:3000/menu">メニューはこちら</a></button>
          </div>
        </div>
      </div>
    </section> -->




    <!-- 通信販売の欄-->
    <!-- <section id="sales" class="">
      <div class="container">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 text-left pd-lr pd-tb" >
            <h1 class="primary-text-color wf-notosansjapanese text-left pd-b"></h1>
              <p class="wf-notosansjapanese text-left secondary-text secondary-text-color lead font-weght-300"  style="line-height:2.0em;">
                すがので販売している珈琲豆をご自宅でもお楽しみいただけます。<br>
                店内で販売している豆以外にも、紅茶やお菓子も販売しております。<br>
                お店の味がご自宅でもお楽しみいただけます。<br>
              </p>
              <div class="">
                <button type="button" class="button-index btn btn-group-lg accent-color" ><a class="" href="http://localhost:3000/sales" >ご購入方法</a></button>
                <button type="button" class="button-index btn btn-group-lg accent-color"><a class="" href="http://localhost:3000/sales">通信販売はこちら</a></button>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <%= image_tag("IMG_3139.JPG",:alt=>"まんじゅう",:class=>"img-responsive img-rounded pd-tb",:style=>"")%>
            </div>
          </div>
        </div>
    </section> -->

    <!-- ギャラリー -->
    <!-- <section>
      <div class="container-fluid">
        <div class="row">
          <div class="slider single-item col-xs-12" style="background-color:black;">
            <img class="" src="assets/shop_out.jpg" alt="Smart Limited Liability Company" style="height:360px;object-fit:cover;width:100%;">
            <img src="assets/SBS5.JPG" alt="Smart Limited Liability Company" style="height:360px;object-fit:cover;width:100%;">
            <img src="assets/IMG_3137.JPG" alt="Smart Limited Liability Company"  style="height:360px;object-fit:cover;width:100%;">
          </div>
        </div>
      </div>
    </section> -->


    <!--  アクセス  -->
    <section id="access" class="" style="padding-top:30px;" >
    <div class="container" style="border-top:1px solid #d9d9d7;">
      <h2 class="primary-text-color wf-hannari">ごあんない</h2>
      <div class="row">
        <!-- <div class="col-sm-8 col-sm-offset-2 col-xs-offset-1 col-xs-10 pd-tb pd-ls"> -->
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8">
          <!-- <h3 class="dark-primary-text-color text-left">営業時間</h3> -->
            <p class="primary-text-color pd-tb pd-ls" style="line-height:2rem;margin: 0px 70px;border-top:1px solid #d9d9d7;">
              <!-- <strong>静岡県静岡市葵区東草深町</strong><br> -->
              <!-- 珈琲工房すがの<br>
              〒420-0865 <br>
              静岡県静岡市葵区東草深町1-9<br> -->
              営業時間 : 9:00~19:00(定休日:月曜日) <br>
              駐車場数:3台
            </p>
        </div>
        </div>
      <div class="container-fluid" style="position: relative; width: 100%;">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-xs-12 pd-tb">
            <iframe src="https://maps.google.co.jp/maps?q=静岡県静岡市東草深町1-9&z=15&output=embed&iwloc=J=m" frameborder="0" style=" top: 0; left: 0; border:0; width:100%;height:350px;" allowfullscreen=true></iframe>
          </div>
        </div>
      </div>
  </div>
</section>
