<section class="top">
  <div class="">
    <%= image_tag("shop_taru_garrery.jpg",:alt=>"メニュー" ,:class=> "himage" )%>
  </div>
</header>
</section>

<div id="" class="subNav" style="border-bottom:1px solid #d9d9d7;">
    <ul class="">
      <li class=""><a class="primary-text-color" href="">ブレンド豆</a></li>
      <li class=""><a class="primary-text-color" href="">スタンダード豆</a></li>
      <li class=""><a class="primary-text-color" href="">プレミアム珈琲豆</a></li>
      <li class=""><a class="primary-text-color" href="">農園指定珈琲豆</a></li>
    </ul>
</div>

<div class="container">
  <div class="row">
    <div class=" col-sm-5">
      <img class="img-rounded img-responsive" src="assets/drip_1.jpg" alt="" style="padding:12px">
    </div>
    <div class="box text-left col-sm-5">
      <h4>珈琲豆リスト</h4>
      <p>
        お店では珈琲豆の販売も行なっております。<br>
        苦味、酸味や香りなどの中からお客様が重視していることを伺い、おすすめの商品を選びます。 <br>
        <small>*袋を開けたら密閉容器に淹れて保存してください。 <br>
          新鮮なコーヒー豆は活きています。焙煎後、挽いた後も炭酸ガスを発生し続けておりますので、常温で10日間くらいで飲みきる量のご購入をおすすめします。 <br></small>
        <small>*長期保存の場合 <br>
        袋のまま密閉容器に入れ、冷凍庫に保存してください。2ヶ月が目安です。</small>
      </p>
    </div>
  </div>
</div>

<section class="beans">
  <div class="container pd-tb pd-lr">
      <h1 class="primary-text-color wf-hannari text-left pd-tb">まめリスト</h1>
  </div>
</section>


<section id="originalblend" class="beans-list">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
      <h4 class="text-left">オリジナルブレンド珈琲豆</h4>
      <table class="table">
        <thead>
           <tr>
             <th class="text-center">名前</th>
             <th class="text-center" colspan="2">詳細</th>
             <th class="text-center hidden-xs" >香り</th>
             <th class="text-center hidden-xs">酸味</th>
             <th class="text-center hidden-xs">苦味</th>
             <th class="text-center">料金<span class="hidden-xs">(100gあたり)</span></th>
           </tr>
        </thead>
        <tbody>
          <tr><th class="text-left" scope="row">葵</th><td class="text-left" colspan="2">北緯の生豆、モカシダモをベースに甘い香りと柔らかな酸味。</td><td class="hidden-xs">★★★★★</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★☆☆☆☆</td><td>429円+税</td></tr>
          <tr><th class="text-left" scope="row">駿河</th><td class="text-left" colspan="2">南緯の豆、キリマンジャロをベースに軽い苦味と上品な風味。</td><td class="hidden-xs">★★★☆☆</td><td class="hidden-xs">★★★☆☆</td><td class="hidden-xs">★★★★☆</td><td>429円+税</td></tr>
          <tr><th class="text-left" scope="row">清水</th><td class="text-left" colspan="2">葵・駿河ブレンドが合併しました。バランスの良い苦味。ブレンドの内容は一番贅沢。</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★★☆☆☆</td><td class="hidden-xs">★★★★☆</td><td>448円+税</td></tr>
          <tr><th class="text-left" scope="row">いえやす公</th><td class="text-left" colspan="2">珈琲の王様ブルマンNo.1を贅沢に使用しました。バランスの取れた味。</td><td class="hidden-xs">★★★★★</td><td class="hidden-xs">★★★☆☆</td><td class="hidden-xs">★★★☆☆</td><td>810円+税</td></tr>
        </tbody>
      </table>
      </div>
      <div id="blend" class="col-xs-12 col-sm-12 wrapper">
      <h4 class="text-left">ブレンド珈琲豆</h4>
      <table class="table">
        <thead>
           <tr>
             <th class="text-center">ブレンド名</th>
             <th class="text-center" colspan="2">詳細</th>
             <th class="text-center hidden-xs" >香り</th>
             <th class="text-center hidden-xs">酸味</th>
             <th class="text-center hidden-xs">苦味</th>
             <th class="text-center">料金(100gあたり)</th>
           </tr>
        </thead>
        <tbody>
          <tr><th class="text-left" scope="row">すがの</th><td class="text-left" colspan="2">単品焙煎後ブレンド。アフターミックスで、酸味、苦味を飲みやすく。</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★★★☆☆</td><td class="hidden-xs">★★★☆☆</td><td>380円+税</td></tr>
          <tr><th class="text-left" scope="row">大地の恵すがの</th><td class="text-left" colspan="2">すがのブレンドの配合を有機栽培豆100％使用で焙煎。酸味・苦味・コク、バランスのとれた逸品。</td><td class="hidden-xs">★★★★★</td><td class="hidden-xs">★★★☆☆</td><td class="hidden-xs">★★★☆☆</td><td>572円+税</td></tr>
          <tr><th class="text-left" scope="row">マイルド</th><td class="text-left" colspan="2">葵・駿河ブレンドが合併しました。バランスの良い苦味。ブレンドの内容は一番贅沢。</td><td class="hidden-xs">★★★★★</td><td class="hidden-xs">★★☆☆☆</td><td class="hidden-xs">★★☆☆☆</td><td>380円+税</td></tr>
          <tr><th class="text-left" scope="row">ヨーロピアン</th><td class="text-left" colspan="2">すがのブレンドよりちょっと深め。コクをもたせた、別名「草深ブレンド」。</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★★☆☆☆</td><td class="hidden-xs">★★★★☆</td><td>380円+税</td></tr>
          <tr><th class="text-left" scope="row">ストロング</th><td class="text-left" colspan="2">程よい苦味と香ばしさが特徴。カフェオレに最適。水出し珈琲にも最適。</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★★☆☆☆</td><td class="hidden-xs">★★★★★</td><td>380円+税</td></tr>
          <tr><th class="text-left" scope="row">アイス珈琲</th><td class="text-left" colspan="2">深いコクと切れのある苦味が絶妙。水出し珈琲にも最適。</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★☆☆☆☆</td><td class="hidden-xs">★★★★★</td><td>380円+税</td></tr>
        </tbody>
      </table>
      </div>
      <div id="standard" class="col-xs-12 col-sm-12 wrapper">
        <h4 class="text-left">スタンダード珈琲豆</h4>
        <table class="table">
          <thead>
             <tr>
               <th class="text-center">ブレンド名</th>
               <th class="text-center" colspan="2">詳細</th>
               <th class="text-center hidden-xs" >香り</th>
               <th class="text-center hidden-xs">酸味</th>
               <th class="text-center hidden-xs">苦味</th>
               <th class="text-center">料金(100gあたり)</th>
             </tr>
          </thead>
          <tbody>
            <tr><th class="text-left" scope="row">マンデリンG1</th><td class="text-left" colspan="2">コクのある柔らかな苦味と甘み。</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★★☆☆☆</td><td class="hidden-xs">★★★★☆</td><td>410円+税</td></tr>
            <tr><th class="text-left" scope="row">モカシダモG2</th><td class="text-left" colspan="2">独特の深く甘い香りと柔らかな酸味。</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★☆☆☆☆</td><td>429円+税</td></tr>
            <tr><th class="text-left" scope="row">モカマタリ</th><td class="text-left" colspan="2">ワインを思わせる芳醇な香りと深いコク</td><td class="hidden-xs">★★★★★</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★★☆☆☆</td><td>620円+税</td></tr>
          </tbody>
        </table>
      </div>
      <div id="cafeineless" class="col-xs-12 col-sm-12">
      <h4 class="text-left">カフェインレス珈琲豆</h4>
      <table class="table">
        <thead>
           <tr>
             <th class="text-center">ブレンド名</th><th class="text-center" colspan="2">詳細</th><th class="text-center hidden-xs" >香り</th><th class="text-center hidden-xs">酸味</th><th class="text-center hidden-xs">苦味</th><th class="text-center">料金(100gあたり)</th>
           </tr>
        </thead>
        <tbody>
          <tr><th class="text-left" scope="row">カフェインレス珈琲豆</th><td class="text-left" colspan="2">液体二酸化炭素抽出法でカフェインを除去。<br>胃にやさしい超アメリカンタイプ。</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★★☆☆☆</td><td class="hidden-xs">★★☆☆☆</td><td>429円+税</td></tr>
        </tbody>
      </table>
      </div>
      <div id="premium" class="col-xs-12 col-sm-12 wrapper">
        <h4 class="text-left">プレミアム珈琲豆</h4>
        <table class="table">
          <thead>
            <th class="text-center">ブレンド名</th><th class="text-center" colspan="2">詳細</th><th class="text-center hidden-xs" >香り</th><th class="text-center hidden-xs">酸味</th><th class="text-center hidden-xs">苦味</th><th class="text-center">料金(100gあたり)</th>
          </thead>
          <tbody>
            <tr><th class="text-left" scope="row">ブラジルセラード樹上完熟</th><td class="text-left" colspan="2">珈琲の樹上で熟した豆。甘みが増してマイルドな飲み口。冷めても美味しく召し上がれます。</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★★☆☆☆</td><td class="hidden-xs">★★★★☆</td><td>429円+税</td></tr>
            <tr><th class="text-left" scope="row">タンザニアキゴマディープブルーAA</th><td class="text-left" colspan="2">スッキリした飲みやすさ、柑橘系のバランスのとれた逸品。</td><td class="hidden-xs">★★★★★</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★★★★☆</td><td>429円+税</td></tr>
            <tr><th class="text-left" scope="row">ブルーマウンテンNo.1</th><td class="text-left" colspan="2">甘み、酸味、苦味、香り、まさにコーヒーの王様。</td><td class="hidden-xs">★★★★★</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★★☆☆☆</td><td>1,524円+税</td></tr>
            <tr><th class="text-left" scope="row">クリスタルマウンテン</th><td class="text-left" colspan="2">香り高く、酸味、苦味ともバランスがとれた逸品。</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★★★☆☆</td><td class="hidden-xs">★☆☆☆☆</td><td>800円+税</td></tr>
            <tr><th class="text-left" scope="row">コロンビアエスメレラムダスプレモ</th><td class="text-left" colspan="2">深みのある酸味、まろやかな甘み。</td><td class="hidden-xs">★★★☆☆</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★☆☆☆☆</td><td>429円+税</td></tr>
          </tbody>
        </table>
      </div>
      <div  id="" class="col-xs-12 col-sm-12 wrapper">
        <h4 class="text-left">農園指定の珈琲豆</h4>
        <table class="table">
          <thead>
            <th class="text-center">ブレンド名</th><th class="text-center" colspan="2">詳細</th><th class="text-center hidden-xs" >香り</th><th class="text-center hidden-xs">酸味</th><th class="text-center hidden-xs">苦味</th><th class="text-center">料金(100gあたり)</th>
          </thead>
          <tbody>
            <tr><th class="text-left" scope="row">グァテマラSHBアゾテア</th><td class="text-left" colspan="2">フルーティーな香りとまろやかな酸味は究極の逸品。</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★★★☆☆</td><td class="hidden-xs">★☆☆☆☆</td><td>458円+税</td></tr>
            <tr><th class="text-left" scope="row">ブラジルメラードショコラ</th><td class="text-left" colspan="2">チョコレートのような甘い香りとまろやかな味わい。</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★★☆☆☆</td><td class="hidden-xs">★★★☆☆</td><td>429円+税</td></tr>
          </tbody>
        </table>
      </div>

      <div id="organic" class="col-xs-12 col-sm-12">
        <h4 class="text-left">有機栽培珈琲豆</h4>
        <p class="text-left">自然にやさしく、体に優しい、生産者の心のこもった生豆です。<br>有機栽培のコーヒー豆は、化学肥料・農薬を使用せず、三年以上完熟した堆肥等で土作りを行って栽培しています。</p>
        <table class="table">
          <thead>
            <th class="text-center">ブレンド名</th><th class="text-center" colspan="2">詳細</th><th class="text-center hidden-xs" >香り</th><th class="text-center hidden-xs">酸味</th><th class="text-center hidden-xs">苦味</th><th class="text-center">料金(100gあたり)</th>
          </thead>
          <tbody>
            <tr><th class="text-left" scope="row">大地の恵グァテマラ</th><td class="text-left" colspan="2">甘い酸味と芳醇な香り、すっきりとした後味。</td><td class="hidden-xs">★★★★★</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★☆☆☆☆</td><td>496円+税</td></tr>
            <tr><th class="text-left" scope="row">大地の恵コロンビア</th><td class="text-left" colspan="2">フルーティーな香りとまろやかな酸味は究極の逸品。</td><td class="hidden-xs">★★★★★</td><td class="hidden-xs">★★★★☆</td><td class="hidden-xs">★☆☆☆☆</td><td>496円+税</td></tr>
            <tr><th class="text-left" scope="row">大地の恵みブラジル</th><td class="text-left" colspan="2">チョコレートのような甘い香りとまろやかな味わい。</td><td class="hidden-xs">★★★★★</td><td class="hidden-xs">★★☆☆☆</td><td class="hidden-xs">★★★★☆</td><td>496円+税</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
