


<!-- トップ -->
<section class="top">
  <img class="" src="assets/shopscape.JPG" alt="" >
</section>

<h3>メニュー</h3>
<p class="font-weght-200">
  珈琲工房すがのでは自家焙煎の珈琲豆を販売しております。<br>
  お気に入りの珈琲を探したり、その日の気分にあった珈琲を探すのも楽しみの一つです。
</p>


<div id="" class="subNav" style="border-bottom:1px solid #d9d9d7;">
    <ul class="">
      <li class=""><a class="primary-text-color" href="">珈琲</a></li>
      <li class=""><a class="primary-text-color" href="">紅茶</a></li>
      <li class=""><a class="primary-text-color" href="">軽食</a></li>
      <li class=""><a class="primary-text-color" href="">お得なセット</a></li>
    </ul>
</div>


<!-- メニューリスト-->
<section id="main">
  <div class="container">
    <div class="">
      <div class="box" style="">
        <h3 class="text-left">珈琲<small>~Coffee~</small></h3>
        <div class="menu-pd">
          <img class="" src="assets/P1010308.JPG" alt="" style="">
          <img class="img-rounded" src="assets/drip_1.jpg" alt="" style="">
        </div>
      </div>
      </div>
    </div>
    <div class="container">
      <div class="row pd-tb border-bottom">
        <div class="col-xs-12  col-sm-12 col-md-6 text-left">
          <div class="" margin:0 auto;>
            <h4 class="text-left primary-text dark-primary-text-color wf-hannari"style="">ブレンド</h4>
            <table class="table">
              <tr><td class="mn-name">マイルドブレンド</td><td class="">380円</td><td class="">酸味：★★★★☆</td></tr>
              <tr><td class="mn-name">葵ブレンド</td><td class="">408円</td><td class="">酸味：★★★★☆</td></tr>
              <tr><td class="mn-name">すがのブレンド</td><td class="">380円</td><td class="">標準：★★★☆☆</td></tr>
              <tr><td class="mn-name">大地の恵すがのブレンド</td><td class="">454円</td><td class="">標準：★★★☆☆</td></tr>
              <tr><td class="mn-name">駿河ブレンド</td><td class="">408円</td><td class="">標準：★★★☆☆</td></tr>
              <tr><td class="mn-name">いえやす公ブレンド</td><td class="">454円</td><td class="">標準：★★★☆☆</td></tr>
              <tr><td class="mn-name">ヨーロピアンブレンド</td><td class="">380円</td><td class="">苦味：★★★★☆</td></tr>
              <tr><td class="mn-name">清水ブレンド</td><td class="">426円</td><td class="">苦味：★★★★☆</td></tr>
              <tr><td class="mn-name">ストロングブレンド</td><td class="">380円</td><td class="">苦味：★★★★★</td></tr>
              <tr><td class="mn-name">カフェインレス珈琲</td><td class="">426円</td><td class="">ｶﾌｪｲﾝが苦手な方におすすめ！</td></tr>
            </table>
          </div>
        </div>
        <div class="col-xs-12  col-sm-12 col-md-6 text-left">
          <h4 class="text-left primary-text dark-primary-text-color wf-hannari"style="">ストレート</h4>
            <table class="table">
              <tr><td class="mn-name">グアテマラアゾテア</td><td class="">380円</td><td class="">酸味：★★★★☆</td></tr>
              <tr><td class="mn-name">コロンビアスプレモ</td><td class="">380円</td><td class="">酸味：★★★★☆</td></tr>
              <tr><td class="mn-name">キリマンジャロAA</td><td class="">426円</td><td class="">酸味：★★★★☆</td></tr>
              <tr><td class="mn-name">グァテマラ（有機栽培豆使用</td><td class="">426円</td><td class="">酸味：★★★★☆</td></tr>
              <tr><td class="mn-name">モカマタリ</td><td class="">473円</td><td class="">酸味：★★★★☆</td></tr>
              <tr><td class="mn-name">クリスタルマウンテン</td><td class="">473円</td><td class="">標準：★★★☆☆</td></tr>
              <tr><td class="mn-name">マンデリンG1</td><td class="">380円</td><td class="">苦味：★★★★☆</td></tr>
              <tr><td class="mn-name">ブラジルセラード（樹上完熟）</td><td class="">426円</td><td class="">苦味：★★★☆☆</td></tr>
              <tr><td class="mn-name">ブラジルメラードショコラ</td><td class="">426円</td><td class="">苦味：★★★☆☆</td></tr>
              <tr><td class="mn-name">ブラジル（有機栽培豆使用）</td><td class="">426円</td><td class="">苦味：★★★★☆</td></tr>
            </table>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 text-left">
          <h4 class="text-left primary-text dark-primary-text-color wf-hannari"style="">アレンジなど</h4>
          <table class="table">
            <tr><td class="mn-name">ウィンナー珈琲</td><td class="">408円</td></tr>
            <tr><td class="mn-name">カフェオレ</td><td class="">408円</td></tr>
            <tr><td class="mn-name">アイス珈琲</td><td class="">408円</td></tr>
            <tr><td class="mn-name">アイスカフェオレ</td><td class="">426円</td></tr>
            <tr><td class="mn-name">水出し珈琲(夏季のみ)</td><td class="">426円</td></tr>
          </table>
        </div>
      </div>
    </div>
</section>

<section id="tea">
  <div class="container">
    <div class="row ">
      <div class="box" style=";">
        <div class="col-xs-12 pd-tb">
          <h3 class="text-left">紅茶など<small>~Tea/other~</small></h3>
        </div>
          <div class="menu-pd">
            <img class="img-rounded" src="assets/coffee_1.jpg" alt="" style="">
          </div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row border-bottom  pd-tb" >
      <div class="col-xs-12 col-sm-12 col-md-6 text-left">
        <h4 class="text-left primary-text dark-primary-text-color "style="">紅茶</h4>
        <table class="table">
          <tr><td class="">駿府・紅茶ブレンドティ</td><td class="">380円</td><td class="">セイロンティー</td></tr>
          <tr><td class="">アールグレイクラシック</td><td class="">380円</td><td class=""></td></tr>
          <tr><td class="">イングリッシュブレンド</td><td class="">380円</td><td class="">オレンジペコ</td></tr>
          <tr><td class="">ロイヤルミルクティー</td><td class="">426円</td><td class=""></td></tr>
          <tr><td class="">竹ちよブレンド</td><td class="">426円</td><td class="">ダージリンティー</td></tr>
          <tr><td class="">季節のおすすめ紅茶</td><td class="">426円</td><td class=""></td></tr>
        </table>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 text-left">
        <table class="table">
          <h4 class="text-left primary-text dark-primary-text-color"style="">その他お飲物</h4>
          <tr><td class="">ホットココア</td><td class="">380円</td><td class=""></td></tr>
          <tr><td class="">アイスクリーム</td><td class="">334円</td><td class=""></td></tr>
          <tr><td class="">珈琲ゼリー</td><td class="">473円</td><td class=""></td></tr>
          <tr><td class="">オレンジジュース100%</td><td class="">287円</td><td class=""></td></tr>
          <tr><td class="">アップルジュース100%</td><td class="">287円</td><td class=""></td></tr>
          <tr><td class="">ガラナ(炭酸飲料)</td><td class="">287円</td><td class=""></td></tr>
        </table>
      </div>
    </div>
  </div>
</section>

<section id="food" >
  <div class="container">
    <div class="row">
      <div class="box  pd-tb" style="">
        <div class="col-xs-12  pd-tb">
          <h3 class="text-left">軽食<small>~Food~</small></h3>
        </div>
          <div class="menu-pd">
              <img class="img-rounded" src="assets/sandwich.JPG" alt="" style="">
          </div>
        </div>
      </div>
    </div>
  <div  class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 text-left">
        <h4 class="text-left primary-text dark-primary-text-color"style="">軽食</h4>
        <table class="table">
          <tr><td class="mn-name">トースト</td><td class="">241円</td><td class="hidden-xs"></td></tr>
          <tr><td class="mn-name">ピザトースト</td><td class="">334円</td><td class="hidden-xs"></td></tr>
          <tr><td class="mn-name">たまごサンドイッチ</td><td class="">334円</td><td class="hidden-xs"></td></tr>
          <tr><td class="mn-name">ハムサンドイッチ</td><td class="">334円</td><td class="hidden-xs"></td></tr>
          <tr><td class="mn-name">軽食セット</td><td class="">上記の値段+100円</td><td class="hidden-xs">ミニサラダ+珈琲ゼリーまたはヨーグルトがつきます。※お飲物は別にご注文ください。</td></tr>
        </table>
      </div>
      <div class="col-xs-12 col-sm-12 text-left pd-b">
        <h4 class="text-left primary-text dark-primary-text-color"style="">お得なセット</h4>
        <table class="table">
          <tr><td class="mn-name">ケーキセット(自家製)</td><td class="">667円</td><td class="hidden-xs">今週のケーキ+お飲物のセットです。<br>お飲物はお選びいただけます。</td></tr>
          <tr><td class="mn-name">おすすめセット</td><td class="">1,093円</td><td class="hidden-xs">軽食セットとケーキセットを組み合わせたセット。<br>ご注文の際は、軽食セットからお好きなものをお選びください。</td></tr>
          <tr><td class="mn-name">モーニングセット</td><td class="">お好きなお飲物+100円</td><td class="hidden-xs">8：30～11：00（土日祝日　9：30～11：00）限定。<br>お好きなお飲みものとトースト+ミニデザートがつきます。</td></tr>
          <tr><td class="mn-name">ランチセット<br>ミニサラダ+デザート+飲み物付き</td><td class="">667円+税</td><td class="hidden-xs">ピザトーストまたはお好きなサンドイッチのセットからお選びください。</td></tr>
          <tr><td class="mn-name">ランチセット(ケーキ付き)</td><td class="">908円</td><td class="hidden-xs">お選びのセットにケーキがつきます</td></tr>
          <p class="hidden-xs">※デザートは珈琲ゼリーかヨーグルトの中からお選びください。</p>
        </table>
      </div>
    </div>
  </div>
</section>
