<footer class="container-fluid footer pd-tb" style="background-color:#392c19;">
  <div class="row sublist">
    <!-- <div class="col-xs-12">
      <address class="text-primary-color">
        〒420-0865 <br>
        静岡県静岡市葵区東草深町1-9<br>
        <a href="mailto:#" class="text-primary-color">baisen@sugano-coffee.com</a><br>
        <abbr title="Phone">TEL:</abbr>(054)247-1567
      </address>
    </div> -->
    <div class="box col-xs-12">
      <ul class="" style="padding:0;">
        <li class=""><a class="text-primary-color" href="http://localhost:3000/">HOME</a></li>
        <li class=""><a class="text-primary-color" href="http://localhost:3000/menu">メニュー</a></li>
        <li class=""><a class="text-primary-color" href="http://localhost:3000/sales">通信販売</a></li>
        <li class=""><a class="text-primary-color" href="http://localhost:3000/#access">アクセス</a></li>
      </ul>
    </div>
    <div class="box col-xs-12">
      <ul style="padding:0;">
        <li class=""><a class="text-primary-color" href="http://localhost:3000/display">特定取引法に関するおしらせ</a></li>
        <li class=""><a class="text-primary-color" href="http://localhost:3000/privacy">個人情報の取扱について</a></li>
      </ul>
    </div>
  </div>
  <p class="text-center text-primary-color">©️珈琲工房すがの All rights reserved</p>
</footer>
