<div class="inner">
    <nav id="globalNav" class="gnav menuBtn" >
      <ul>
        <!-- <li><a class="primary-text-color" >珈琲工房すがの ―駿府公園すぐちかく</a></li> -->
        <li id="location" class="location"><a href="/landing" class="primary-text-color"><span>珈琲工房すがの</span></a></li>
        <li class="food"><a href="http://localhost:3000/menu" class="primary-text-color"><span>お知らせ</span></a></li>
        <li class="food"><a href="http://localhost:3000/menu" class="primary-text-color"><span>メニュー</span></a></li>
        <li class="logo"><a href="/"><img class="" src="assets/brand_2.png" alt="珈琲工房すがの" style="height:48px;"></a></li>
        <li class="join"><a href="http://localhost:3000/sales" class="primary-text-color"><span>珈琲豆の販売</span></a></li>
        <li class="join"><a href="http://localhost:3000/list" class="primary-text-color"><span>豆リスト</span></a></li>
        <li class="shop"><a href="http://localhost:3000/access" class="primary-text-color"><span>アクセス</span></a></li>
      </ul>
    </nav>
</div>
