<!-- <header class="navbar-fixed-top-index" style="padding:10px;">
  <div class="inner">
    <nav class="gnav" style="display:-webkit-box;">
      <a class="logo" style="padding:10px 20px 0 20px;" href="http://localhost:3000">
        <img class="" src="assets/brand_2.png" alt="珈琲工房すがの" style="height:48px;">
      </a>
      <a class="primary-text-color hidden-xs hidden-sm" style="padding:20px 0 0 0;left:30px;">珈琲工房すがの ―駿府公園すぐちかく</a>
      <ul>
        <li  class="kodawari">
          <a id="about-list" class="dark-primary-text-color" data-target="about-panel" href="http://localhost:3000/#about">
            コンセプト
          </a>
        </li>
        <li>
          <a  class="primary-text-color font-weght-300" href="http://localhost:3000/menu">
            メニュー
          </a>
        </li>
        <li id="sales-list" class="">
          <a href="http://localhost:3000/sales" class="primary-text-color">
            通信販売
          </a>
        </li>
        <li id="access-list" class="" >
          <a class="primary-text-color" href="http://localhost:3000/#access">
          アクセス
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header> -->


<div class="inner">
    <nav id="globalNav" class="gnav menuBtn" >
      <ul>
        <!-- <li><a class="primary-text-color" >珈琲工房すがの ―駿府公園すぐちかく</a></li> -->
        <li id="location" class="location"><a href="http://localhost:3000/" class="primary-text-color"><span>珈琲工房すがの</span></a></li>
        <li class="food"><a href="http://localhost:3000/menu" class="primary-text-color"><span>お知らせ</span></a></li>
        <li class="food"><a href="http://localhost:3000/menu" class="primary-text-color"><span>メニュー</span></a></li>
        <li class="logo"><a href="/"><img class="" src="assets/brand_2.png" alt="珈琲工房すがの" style="height:48px;"></a></li>
        <li class="join"><a href="http://localhost:3000/sales" class="primary-text-color"><span>珈琲豆の販売</span></a></li>
        <li class="join"><a href="http://localhost:3000/list" class="primary-text-color"><span>豆リスト</span></a></li>
        <li class="shop"><a href="http://localhost:3000/access" class="primary-text-color"><span>アクセス</span></a></li>
      </ul>
    </nav>
</div>
